<div class="row">
    <div class="col-auto">
        {{#if logged_in}}
        <h2>Hello!</h2>
        {{/if}}
    </div>
</div>
<br>
{{#if posts.length}}
<div class="card flex-column">
    {{#each posts as |post|}}
    {{>singleItem post}}
    {{/each}}
</div>
{{/if}}
