<div class="card d-flex justify-content-center align-items-center mx-auto">
    <h3 class="login-header text-center pt-5">Login</h3>
    <form class="card-body login-form">
        <div class="form-group">
            <label class="form-label">Username:</label>
            <input type="text" class="form-input" id="username-login" class="form-control">
        </div>
        <div class="form-group">
            <label class="form-label">Password:</label>
            <input type="password" class="form-input" id="password-login" class="form-control">
        </div>
        <div class="form-group text-center w-100 mx-auto">
            <button class="btn btn-info btn-lg" type="submit">Login</button>
        </div>
    </form>
    <a href="/signup" class="text-right">Not a member?Register</a>
</div>
<script src="/js/login.js"></script>