<div class="card">
  <h2 class="card-header">Create New Post</h2>
  <form class="card-body" id="create-post-form">
    <div>
      <label class="form-label">Title:</label>
      <input type="text" class="form-input"name="post-title" />
    </div>
    <div>
      <label class="form-label">Description</label>
      <textarea class="form-textarea form-description"name="post-description"></textarea>
    </div>
    <button class="btn btn-primary">CREATE POST</button>
  </form>
</div>
<script src="/js/new-post.js"></script>