<div class ='card'>
    <h2 class = "card-header">Create New Post</h2>
    <form class ='card-body' id ='create-post-form'>
      <input type="hidden" name="'post-id" value="{{post.id}}">
     </div>
     <div>
        <label class="form-label">Title:</label>
        <input type="text" class="form-input" name='post-title'>
     </div>
     <div>
        <lable class="form-label">Description</lable>
        <textarea class="'form-textarea form-description"name='post-description'></textarea>
     </div>
    <button class ='btn btn-primary'>CREATE POST</button>

</form>

<script src = "./js/newpost"></script>