@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  box-sizing: border-box;
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 20px;
}
.navbar {
  width: 100%;
  background-image: linear-gradient(-90deg, #d38312, #a83279);
  font-size: 20px;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-item {
  list-style-type: none;
  outline: none;
  border: none;
  display: inline-block;
  margin: 3px;
  padding: 10px;
}

.nav-item a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.app-title {
  font-family: "Ms Madi", cursive;
}
.app-title a{
  color: #fff;
}
a:hover {
  text-decoration: none;

}

.card {
  color: #17a2b8;
  background-color: #eaeaea;
  max-width: 100%;
  border: 1px solid #9c9c9c;
  padding: 20px;
  font-size:20px;
  margin-top: 30px;
  margin-left:10px;
  margin-right:10px;

}
.card-header {
display: flex;
flex-direction: row;
font-size: 20px;
}
.new-post {
  margin-top:50px;
  width:200px;
  height: 50px;
  max-width:100%;
  background-color:#d38312;
}
.form-input {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 100%;
  outline:none;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.register-link{
    color:#17a2b8;
}
.form-label {
  margin-bottom: 0.1rem;
  font-size:1rem;
}
.common-button {
  width:200px;
  height: 50px;
  max-width:100%;
  background-color:#d38312;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  margin-top:20px;
  margin-bottom:-30px;
}